.container{
    margin-bottom: 20px;
}
.title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #262626;
    margin:20px 0 0 0;
}
.description{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #262626;
    margin:12px 0 0 0;
}
.data{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
    margin: 0;
}
.read{
    background-color: transparent;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #f6b83d;
    margin: 0;
}
.item{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
.img{
    border-radius: 15px;
width: 335px;
height: 190px;
}
@media screen and (min-width: 768px){
    .container{
        border-radius: 15px;
width: 340px;
    }
    .title{
font-size: 20px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
margin:28px 0 0 0;
    }
    .description{
        font-size: 16px;
        line-height: 1.2;
        margin-top: 14px;
    }
    .data{
        font-size: 16px;
        line-height: 1.2;
    }
    .read{
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }
    .item{
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
    }
    .img{
        width: 340px;
        height: 226px;
}
}

@media screen and (min-width: 1280px){
    .container{
width: 361px;
    }
    .img{
        width: 361px;
}
}