.section{
    border-radius: 30px;
width: 335px;
background-color: #fff;
padding: 18px 20px;
}
@media screen and (min-width: 768px) {
    .section{
        border-radius: 60px;
width: 704px;
padding: 40px;
    }
}
@media screen and (min-width: 1280px){
    .section{
        width: 520px;
    }
}