.container{
    border-radius: 30px;
min-width: 335px;
height: 280px;
background-color: #f6b83d;
}

@media screen and (min-width: 768px) {
    .container{
        border-radius: 60px;
        min-width: 704px;
        height: 302px;
    }
    .img{
        margin-left: 250px;
        width: 364px;
height: 302px;
    }
}

@media screen and (min-width: 1280px){
    .container{
        border-radius: 60px;
min-width: 592px;
height: 654px;
    }
    /* .img{
        margin-left: 0;
        width: 364px;
height: 302px;
    } */
    .dogbig{
margin: 0 24px;
    }
}