.container{
    border-radius: 30px;
max-width: 335px;
height: 489px;
padding: 20px;
background-color: #fff;
}
.inputEnter{
    margin-right: 8px;
    border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 9px 9px 9px 10px;
width: 170px;
height: 36px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
}
.input{
    margin-top:10px;
    border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 9px 9px 9px 10px;
width: 295px;
height: 42px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
}
.inputData{
    margin-right: 8px;
    border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 9px 9px 9px 10px;
width: 144px;
height: 42px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
}
.buttonUpload{
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 1.3;
letter-spacing: -0.02em;
color: #262626;
    border: none;
    border-radius: 30px;
padding:0 10px 0 10зч;
width: 117px;
height: 36px;
background-color: #fff4df;
}
.dataContainer{
    margin-top: 10px;
    display: flex;
}
.backButton{
    margin-right: 8px;
    cursor: pointer;
    border-radius: 30px;
padding: 12px 34px;
width: 100px;
height: 42px;
background-color: rgba(38, 38, 38, 0.05);
border: none;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
}
.submitButton{
    cursor: pointer;
    border: none;
    border-radius: 30px;
padding: 12px ;
width: 100px;
height: 42px;
background-color: #f6b83d;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #fff;
}
.buttonContiner{
    margin-top: 31px;
    display: flex;
    justify-content: flex-end;
    /* gap: 8; */
}

.containerUload{
    display: flex;
        gap: 5px;
        justify-content: center;
}

.span{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
 color: rgba(43, 43, 42, 0.4);;
}
.Titlle{
    font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 1;
letter-spacing: -0.03em;
color: #262626;
}


.radioGrup{
    margin-top: 24px;
    margin-bottom: 8px;
    display: flex;
  gap: 16px; 
}
.radioLabelFamel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(244, 63, 94, 0.1); /* Колір фону */
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        border: 2px solid transparent;
      
}
.radioLabelMale{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(84, 173, 255, 0.1); /* Колір фону */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid transparent;
}
.radioLabelSexual{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff4df; /* Колір фону */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid transparent;
}
.radioInput{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    opacity: 0; /* Приховуємо радіо-інпут, але зберігаємо його функціональність */
    /* pointer-events: none;  */
}
.radioInput:checked + .radioLabelFamel {
    background-color: rgba(244, 63, 94, 0.3); /* Новий колір для female */
    transform: scale(1.1); /* Невелике збільшення для акценту */
}

.radioInput:checked + .radioLabelMale {
    background-color: rgba(84, 173, 255, 0.3); /* Новий колір для male */
    transform: scale(1.1);
}

.radioInput:checked + .radioLabelSexual {
    background-color: #ffe1a3; /* Новий колір для sexual */
    transform: scale(1.1);
}
