.container{
    border-radius: 30px;
max-width: 335px;
padding: 20px;
background-color: #fff;
margin-top: 5px;
}
/* !---------------input----------- */
.input{
    border: 1px solid #ccc;
  border-radius: 4px;
    margin-top:10px;
border-radius: 30px;
padding: 9px 9px 9px 10px;
width: 295px;
height: 42px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
outline: none; 
}
.inputValid{
    border-width: 1px;
    border-color: orange; 
    outline: none; 
}

.inputError{
    border-width: 1px;
    border-color: red; 
    outline: none; 
}

/* !-------------Input url------------ */
.fileInput{
    display: none;
}
.containerUload{
    display: flex;
        gap: 5px;
        justify-content: center;
}
.inputErrorUrl{
    border-width: 1px;
    border-color: red; 
    outline: none; 
}
.inputValidUrl{
    border-width: 1px;
    border-color: orange; 
    outline: none; 
}
.inputURL{
    /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
border-radius: 30px;
padding: 9px 9px 9px 10px;
width: 170px;
height: 36px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
outline: none; 
}
.buttonUpload{
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 1.3;
letter-spacing: -0.02em;
color: #262626;
    border: none;
    border-radius: 30px;
padding:0 10px 0 10зч;
width: 117px;
height: 36px;
background-color: #fff4df;
}

/* !--------------input data ------------- */
.dataContainer{
    margin-top: 10px;
    display: flex;
}
.inputData{
    border-radius: 4px;
    margin-right: 8px;
border-radius: 30px;
padding: 9px 9px 9px 10px;
width: 144px;
height: 42px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
}


/* !---------Button---------------------- */
.backButton{
    margin-right: 8px;
    cursor: pointer;
    border-radius: 30px;
padding: 12px 34px;
width: 100px;
height: 42px;
background-color: rgba(38, 38, 38, 0.05);
border: none;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
}
.submitButton{
    cursor: pointer;
    border: none;
    border-radius: 30px;
padding: 12px ;
width: 100px;
height: 42px;
background-color: #ffaa00;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #fff;
}
.buttonContiner{
    margin-top: 31px;
    display: flex;
    justify-content: flex-end;
}


.span{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
 color: rgba(43, 43, 42, 0.4);;
}
.Titlle{
    font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 1;
letter-spacing: -0.03em;
color: #262626;
}
.customBtn {
    display:flex;
    gap: 5px;
    border-radius: 30px;
padding: 10px;
width: 117px;
height: 36px;
background-color: #fff4df;
}

.radioGrup{
    margin-top: 24px;
    margin-bottom: 8px;
    display: flex;
  gap: 16px; 
}
.radioLabelFamel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32px;
    height: 32px;
        border-radius: 50%;
        background-color: rgba(244, 63, 94, 0.1); 
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        border: 2px solid transparent;
      
}
.radioLabelMale{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(84, 173, 255, 0.1); 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid transparent;
}
.radioLabelSexual{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff4df; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid transparent;
}
.radioInput{
    cursor: pointer;
    position: absolute;
    opacity: 0; 
}
.famele{
    width: 24px;
    height: 24px;
}
.radioInput:checked + .radioLabelFamel {
    color: #fff;
    background-color: #f43f5e;; 
}

.radioInput:checked + .radioLabelMale {
    background-color:#54adff; 

}

.radioInput:checked + .radioLabelSexual {
    background-color: #f6b83d; 

}

.radioInput:checked + .radioLabelMale img {
    filter: brightness(0) invert(1); 
}

.radioInput:checked + .radioLabelSexual img {
    filter: brightness(0) invert(1); 
}

.containerFoot{
    margin-left: 113px;
    margin-bottom: 16px;
    display: flex;
    border-radius: 100px;
padding: 10px;
width: 68px;
height: 68px;
background-color: #fff4df;
}
.containerUrl{
    display: flex;
    gap: 8px;
    margin-top: 10px;
}
.uploadPhoto{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #262626;
}
.avatarPreview{
    border-radius: 100px;
width: 68px;
height: 68px;
}
.errorText{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #ef2447;
    margin-left: 12px;
}
.containerImg{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.containerType{
    display: flex;
    margin-top: 10px;
}

@media screen and (min-width: 768px){
    .container{
        border-radius: 60px;
max-width: 704px;
    padding: 40px 136px;
    margin-top: 16px;
    }
    /* !---------------input----------- */
    .input{
      border-radius: 38px;
        margin-top:18px;
    border-radius: 30px;
    padding: 16px;
    width: 432px;
    height: 52px;
    font-size: 16px;
    }
    
    /* !-------------Input url------------ */
    .containerUload{
            gap: 8px;
    }
    .inputURL{
    padding:  9px 10px;
    width: 278px;
height: 42px;
    font-size: 16px;
    }
    
    /* !--------------input data ------------- */
    .dataContainer{
        margin-top: 18px;
    }
    .inputData{
        border-radius: 30px;
        margin-right: 12px;
    padding: 16px;
    width: 210px;
    height: 52px;
    font-size: 16px;
    }
    
    
    /* !---------Button---------------------- */
    .backButton{
    padding: 14px;
    width: 170px;
    height: 48px;
    font-size: 16px;
    }
    .submitButton{
    padding: 14px ;
    width: 170px;
    height: 48px;
    font-size: 16px;
    }
    .buttonContiner{
        margin-top: 40px;
        justify-content: center;
    }
    
    
    .span{
    font-size: 16px;
    }
    .Titlle{
    font-size: 32px;
    }
    .customBtn {
        gap: 8px;
    padding: 12px 16px;
    width: 146px;
    height: 42px;
    }
    
    .radioGrup{
        margin-top: 40px;
        margin-bottom: 0;
        display: flex;
      gap: 8px; 
    }
    .radioLabelFamel{
            width: 40px;
        height: 40px;
        padding: 8px;
    }
    .radioLabelMale{
        width: 40px;
        height: 40px;
        padding: 8px;
    }
    .radioLabelSexual{
        width: 40px;
        height: 40px;
        padding: 8px;
    }
    .containerUrl{
        margin-top: 12px;
    }
    .uploadPhoto{
        font-size: 14px;
    }
    .avatarPreview{
        border-radius: 100px;
    width: 86px;
    height: 86px;
    }
    .errorText{
        font-size: 12px;
        margin-left: 14px;
    }
    .containerImg{
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
}

@media screen and (min-width: 1280px){
    .container{
        margin-top: 0;
    max-width: 592px;
    padding: 60px 80px;
    }
    /* !---------------input----------- */
    .input{
        margin-top:18px;
    border-radius: 30px;
    padding: 16px;
    width: 432px;
    height: 52px;
    font-size: 16px;
    } 
    
    /* !-------------Input url------------ */
    .containerUload{
            gap: 8px;
    }
    .inputURL{
    padding:  12px;
    }

}