.nav {
    display: flex;
    gap: 10px;
    margin-bottom: 32px;
    margin-top: 40px;
}

.tabF{
    border-radius: 30px;
    padding: 12px;
    height: 42px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
background-color: #fff;
}
.tabV{
    border-radius: 30px;
    padding: 12px 39px;
    width: 123px;
    height: 42px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
background-color: #fff;
}

.active {
    background-color: #f6b83d;
    color: #fff;
    border-color: #f6b83d;
}