.buttonLogin{
    border: none;
    border-radius: 30px;
/* padding: 12px 67px; */
width: 178px;
height: 42px;
background-color: #f6b83d;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #fff;
}
.buttonRegister{
    border-radius: 30px;
padding: 12px 41px;
width: 178px;
height: 42px;
background-color: #fff4df;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #f6b83d;
border: none;
margin-top: 8px;
}