.container{
    border-radius: 30px;
    width: 335px;
    height: 213px;
    background-color: #f6b83d;
}
.addDog{
    margin: 0 20px;
}

@media screen and (min-width: 768px){
    .container{
        border-radius: 60px;
        width: 704px;
        height: 248px;
    }
    .addDog{
        margin: 35px 204px 0 204px;
    }
}

@media screen and (min-width: 1280px) {
    .container{
        /* border-radius: 60px; */
width: 592px;
height: 654px;
}
.addDog{
    margin:0;
}
.addDogDesctop{
        margin: 6px  40px 0 40px ;
    }
}