ul {
    list-style: none;
    padding: 0;
  }
button{
    cursor: pointer;
}
.container{
margin: 0 auto;
max-width: 375px;
padding: 20px;
position: relative;
}
.homePage{
    background-color: transparent;
}
.defaultPage{
    background-color: #f9f9f9;
}

@media screen and (min-width: 768px){
    .container{
        min-width: 768px;
            padding: 32px;
            background-color: #f9f9f9;
        }
        .homePage{
            background-color: transparent;
        }
        .defaultPage{
            background-color: #f9f9f9;
        }
}
@media screen and (min-width: 1280px){
    .container{
        min-width: 1280px;
            padding: 63px 32px;
            background-color: #f9f9f9;
        }
        .homePage{
            background-color: transparent;
        }
        .defaultPage{
            background-color: #f9f9f9;
        }
}