.container{
margin: 0 auto;
max-width: 375px;
    padding: 20px;
    background-color: #f9f9f9;
    position: relative;
}
@media screen and (min-width: 768px){
    .container{
        min-width: 768px;
            padding: 32px;
            background-color: #f9f9f9;
        }
}