.searchBtn{
    border:none;
    background-color: transparent;
}

.searchContainer {
  margin-top: 20px;
  border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 12px 278px 12px 12px;
max-width: 335px;
height: 42px;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0; 
    padding: 5px 10px;
    background-color: #fff; 
    width: 100%; 
  }
  
  .searchInput {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
  }
  
  .searchInput::placeholder {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: rgba(38, 38, 38, 0.5); 
  }
  
  .searchBtn,
  .clearBtn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
    color: #000000; 
    cursor: pointer;
    padding: 5px;
    padding: 1px;
  }
  
  .searchBtn:disabled {
    color: #ccc; 
    cursor: not-allowed;
  }
  
  .clearBtn {
    margin-right: 2px;
  }

  @media screen and (min-width: 768px){
    .searchContainer {
      margin-top: 0;
        border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 14px 165px 14px 14px;
width: 230px;
height: 48px;
      }
      .searchInput {
        width: 160px;
        padding: 5px;
    font-size: 16px;
      }
      
  }


/* !---------------------------------------- */
  .searchBtnFind{
    border:none;
    background-color: transparent;
}

.searchContainerFind {

  border: none;
border-radius: 30px;
padding: 12px 18px 12px 12px;
min-width: 295px;
height: 52px;
    display: flex;
    align-items: center;
    background-color: #fff; 

  }
  
  .searchInputFind {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.03em;
color: #262626;
  }
  
  .searchInputFind::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #262626;
  }
  
  .searchBtnFind,
  .clearBtnFind {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
    color: #000000; 
    cursor: pointer;
    padding: 5px;
    padding: 1px;
  }
  
  .searchBtnFind:disabled {
    color:  #000000; 
    cursor: not-allowed;
  }
  
  .clearBtnFind {
    margin-right: 2px;
  }

  @media screen and (min-width: 768px){
    .searchContainerFind {
      min-width: 265px;
height: 54px;
      }
  }
  @media screen and (min-width: 768px){
    .searchContainerFind {
      min-width: 265px;
height: 54px;
      }
  }